body {
  font: 12px sans-serif;
  text-align: center;
  margin: 0;
  width: 180px;
}

section {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
}

button {
  background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.move-up-down-btns {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.move-up-down-btn {
  flex: 1 1 0%;
}

#move-in-btn {
  display: none;
}

button > * {
  margin-right: 8px;
  pointer-events: none
}
/* 
.icon {
  margin-right: 8px;
} */

button:hover {
  background: #f0f0f0;
}

